<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HostServlet</servlet-name>
        <servlet-class>host.HostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinerServlet</servlet-name>
        <servlet-class>miner.MinerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoterServlet</servlet-name>
        <servlet-class>voter.VoterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HostServlet</servlet-name>
        <url-pattern>/HostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinerServlet</servlet-name>
        <url-pattern>/MinerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoterServlet</servlet-name>
        <url-pattern>/VoterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
