<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HostServlet</servlet-name>
        <servlet-class>host.HostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinerServlet</servlet-name>
        <servlet-class>miner.MinerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoterServlet</servlet-name>
        <servlet-class>voter.VoterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostLogin</servlet-name>
        <servlet-class>host.HostLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinerLogin</servlet-name>
        <servlet-class>miner.MinerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostReg1</servlet-name>
        <servlet-class>host.HostReg1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinerReg1</servlet-name>
        <servlet-class>miner.MinerReg1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassSev</servlet-name>
        <servlet-class>OtherClasses.ForgotPassSev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotIdSev</servlet-name>
        <servlet-class>OtherClasses.ForgotIdSev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createES1</servlet-name>
        <servlet-class>host.createES1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createES2</servlet-name>
        <servlet-class>host.createES2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createES3</servlet-name>
        <servlet-class>host.createES3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createES4</servlet-name>
        <servlet-class>host.createES4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createES5</servlet-name>
        <servlet-class>host.createES5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HostServlet</servlet-name>
        <url-pattern>/HostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinerServlet</servlet-name>
        <url-pattern>/MinerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoterServlet</servlet-name>
        <url-pattern>/VoterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostLogin</servlet-name>
        <url-pattern>/HostLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinerLogin</servlet-name>
        <url-pattern>/MinerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostReg1</servlet-name>
        <url-pattern>/HostReg1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinerReg1</servlet-name>
        <url-pattern>/MinerReg1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassSev</servlet-name>
        <url-pattern>/ForgotPassSev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotIdSev</servlet-name>
        <url-pattern>/ForgotIdSev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createES1</servlet-name>
        <url-pattern>/createES1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createES2</servlet-name>
        <url-pattern>/createES2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createES3</servlet-name>
        <url-pattern>/createES3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createES4</servlet-name>
        <url-pattern>/createES4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createES5</servlet-name>
        <url-pattern>/createES5</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
